@reference "../../styles/styles.css";

.user-dropdown-item {
  @apply hover:bg-zinc-700 rounded px-3 py-2 text-nowrap;
  display: flex;
  align-items: center;
  gap: calc(var(--spacing) * 2);
  text-align: left;
}
