name: Deploy

on:
  push:
    tags:
      - "v*.*.*"

permissions:
  contents: read

jobs:
  create-release:
    runs-on: ubuntu-latest

    permissions:
      contents: write

    timeout-minutes: 10

    steps:
      - name: Checkout
        uses: actions/checkout@v6
        with:
          fetch-depth: 0

      - name: Generate a changelog
        uses: orhun/git-cliff-action@v4
        id: git-cliff
        with:
          config: cliff.toml
          args: -vv -l -s all
        env:
          OUTPUT: CHANGES.md

      - name: Release
        uses: softprops/action-gh-release@v2
        with:
          body: "${{ steps.git-cliff.outputs.content }}"

  lint:
    uses: potonz/shortlinks-app/.github/workflows/lint.yml@main

  deploy:
    runs-on: ubuntu-latest

    timeout-minutes: 10

    needs:
      - lint

    steps:
      - name: Checkout
        uses: actions/checkout@v6

      - uses: oven-sh/setup-bun@v2
        with:
          bun-version: latest

      - name: Install dependencies
        run: bun ci

      - name: Build
        run: bun run build

      - name: Deploy
        run: bun run deploy
        env:
          CLOUDFLARE_API_TOKEN: ${{ secrets.CLOUDFLARE_API_TOKEN }}
          CLOUDFLARE_ACCOUNT_ID: ${{ secrets.CLOUDFLARE_ACCOUNT_ID }}
          CLOUDFLARE_ENV: prod
          CLOUDFLARE_LOAD_DEV_VARS_FROM_DOT_ENV: "false"
